<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>笑博客</title>
<script type="text/javascript" language="javascript" src="/static/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/bmxt-main.js"></script>
<link href="/static/css/bmxt-main.css" rel="stylesheet" type="text/css" />
</head>

<body>

{% include 'Base/head.html' %}

<!--正文列表-->
<div id="divListbg">
    {% block content %}{% endblock %}
    <!-- //加载右侧区域 --><!--
	{dede:include filename="sidebar.htm"/}
	-->
    <!-- 首页文章列表循环 -->
    <!--
	{dede:include filename="index_Text.htm"/}
	-->

</div>
<!--正文列表结束-->
{% block footer %}{% endblock %}
</body>
</html>